page-categorias {
    ion-content{
        background-image: url("../../assets/img/home_black.png");
        background-size: cover;
        text-align: center;
    }
    .cat{
        background-color: #00d455; 
        -moz-border-radius: 100px 0px;
        -webkit-border-radius: 100px 0px;
        border-radius: 100px 0px;
        text-align: center;
        border: none;
        padding: 15px 80px;
        text-decoration: none;
        display: inline-block;
        text-transform: uppercase;
        font-size: 13px;
        transition: all 0.3s ease-in-out;
        width: 85%;
        height: 40px;
    }
}
