<ion-header>
  <ion-navbar color="dark">
    <ion-title>Categorias</ion-title>
    <ion-buttons end>
        <button ion-button (click)="logout()">
          <ion-icon name="log-out"></ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <!--
  <ion-item *ngFor="let c of categorias">
    <button ion-button color="secondary" round class="full" (click)="topicoClick(c.cd_category)">{{c.nm_category}}</button>
  </ion-item>
  -->

  <ion-list *ngFor="let c of categorias">
  <!--USAR O BOTÃO AO INVES DE CARD-->
    <ion-card ion-item color="secondary" (click)="topicoClick(c.cd_category, c.nm_category)">
      <ion-card-content>
          {{c.nm_category}}
      </ion-card-content>
    </ion-card>

  </ion-list>

</ion-content>
