page-login {
    ion-content{
        background-image: url("../../assets/img/login.png");
        background-size: cover;
        text-align: center;
    }
    
    img{
        margin-top: 30px; //espaço do logo a cima
        margin-bottom: 50px; //espaço do logo abaixo
        width: 180px; // img do logo tamanho em pixel
    }
    
    input[type=text] , input[type=password]{
        background-color: #ffffff;
        border: none;
        color: #535353;
        padding: 15px 32px;
        text-decoration: none;
        font-size: 16px;
        margin: 5px;
        width: 85%;
        border: 2px solid #ffffff;
        transition: all 0.5s ease-in-out;
        height: 35px;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 10px;

    }
}
